{% extends 'views/layout.twig' %}

{% block title %}
    Upload
{% endblock %}

{% block content %}
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="receipt"/>
        <button type="submit">Upload</button>
    </form>
{% endblock %}