{% if categories %}
    <div id="categoriesTable">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                {{ include('categories/category_row.twig') }}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}