{% extends 'layout.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('categories') }}
{% endblock %}

{% block title %}Categories{% endblock %}

{% block content %}
    <div class="categories container content-body">
        <div class="text-end">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newCategoryModal">
                <i class="bi bi-plus-circle me-1"></i>
                New Order
            </button>
        </div>

        {% include 'categories/create_category_modal.twig' %}
        {% include 'categories/edit_category_modal.twig' %}
        {% include 'categories/categories_table.twig' %}

    </div>
{% endblock %}
