<!doctype html>
<html lang="en">
<head>
</head>
<body>
<div class="body">
    <div class="container">
        <div class="header text-center">
        </div>
        <div class="content">
            <h1 class="text-center">Welcome in our community {{ name }}!</h1>
            <p class="block">
                Dear {{ name }}, <br>

                Thank you for joining our community! We are glad to have you on board.<br>

                We hope you find our app useful and enjoyable. If you have any questions or feedback, please don't hesitate to reach out. Our team is always here to help.<br>

                <strong>Thank you again for signing up.</strong>  We look forward to seeing what you create with the help of our 3D printing service.<br>

                Best regards,<br>
                3D Boat Printing !<br>
            </p>
        </div>
    </div>
</div>
</body>
</html>
