{% extends 'layout.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('orders') }}
{% endblock %}

{% block title %}Orders{% endblock %}

{% block content %}
    <div class="orders container content-body">
        <div class="text-end">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newOrderModal">
                <i class="bi bi-plus-circle me-1"></i>
                New Order
            </button>
        </div>

        {% include 'chart/create_chart_modal.twig' %}
        {% include 'chart/edit_chart_modal.twig' %}
        {% include 'chart/chart_table.twig' %}

    </div>
{% endblock %}
